* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 62.5%;
    background-image: url('concert.jpg');
    background-repeat: no-repeat;
}

i,
svg {
    pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad,
.hihat-pad-2,
.clap-pad {
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
}

.kick-pad {
    background: rgb(168, 168, 228);
}
.kick-pad.active {
    background: rgb(120, 120, 165);;
}
.snare-pad {
    background: rgb(180, 214, 177);
}
.snare-pad.active {
    background: rgb(0, 255, 0);
}
.hihat-pad {
    background: rgb(219, 84, 208);
}
.hihat-pad.active {
    background: rgb(148, 57, 140);
}
.hihat-pad-2 {
    background: rgb(204, 153, 255);
}
.hihat-pad-2.active {
    background: rgb(255, 0, 0);
}
.clap-pad {
    background: rgb(255, 255, 153);
}
.clap-pad.active {
    background: rgb(255, 255, 0);
}

.sequencer {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.kick-track,
.snare-track,
.hihat-track,
.hihat-track-2,
.clap-track {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin-top: 0rem;
}

.kick,
.snare,
.hihat, 
.hihat-2,
.clap {
    display: flex;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;
    margin: 0rem;
}

.controls button {
    padding: 1rem;
    margin: 2rem;
    border: none;
    background: rgb(58, 57, 57);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.pad {
    transition: all 0.5 ease;
}

.play {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background: rgb(58, 57, 57);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
}

select {
    padding: 1rem;
    font-size: 1rem;
}

.mute.active{
    background: rgb(170, 167, 167);
}

.tempo {
    margin: 2rem;
    width: 30%;
}

.tempo-slider {
    padding: 0.05rem;
    -webkit-appearance: none;
    margin: 1rem 0rem;
    width: 100%;
    position: relative;
    background: rgb(209, 209, 228);
    cursor: pointer;
    border-radius: 1rem;
}

.tempo p {
    font-size: 2rem;
    text-align: center;
}

@keyframes playTrack {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}
